In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("small_validation_pe_2_results.csv")
df2 = pd.read_csv("small_validation_pe_input.csv")

# df1 = pd.read_csv("small_validation_cbr_00_results.csv")
# df2 = pd.read_csv("small_validation_cbr_00_input.csv")

# df1 = pd.read_csv("test_results.csv")
# df2 = pd.read_csv("test_input.csv")

In [3]:
def validate_datestet(df1:pd.DataFrame, df2:pd.DataFrame):
    return np.all(df1.target_recipe.values == df2.target_recipe.values)

In [4]:
validate_datestet(df1, df2)

True

In [5]:
df1[-10:]

                                           Unnamed: 0  target_recipe  response
13  In a small bowl whisk together hoisin sauce, o...         163922       NaN
14  Preheat oven to 400 degrees f. In a food proce...         488707       NaN
15  In a small saucepan over medium-low heat, melt...         464929       NaN
16  Preheat oven to 400 degrees. Season tenderloin...         208315       NaN
17  Preheat oven to 375. Prepare crust as directed...          42314       NaN
18  Combine butter and sugar in large bowl. Beat u...         133356       NaN
19  In a large bowl combine oats, almonds, wheat g...         458952       NaN
20  Cut oranges in half and remove seeds. Slice ea...          19941       NaN
21  Preheat oven to 350 degrees F (175 degrees C)....          43515       NaN
22  Preheat oven to 375 degrees Fahrenheit. Beat b...         222103       NaN

In [6]:
df2[-10:]

,input,pe_recipes,target_recipe
13,name: stuffed jalapeno pita bites ; ingredient...,"[7884, 7872, 10203, 10524, 2387, 6105, 3497]",163922
14,name: chicken pot pie casserole ; ingredients:...,"[1511, 7618, 5771, 2026, 6831, 3845, 81]",488707
15,name: new orleans crab spread ; ingredients: r...,"[1486, 1179, 2453, 7733, 8102, 2349, 6804]",464929
16,name: tamarillo and date chutney new zealand ;...,"[8272, 923, 1679, 8360, 3997, 6828, 9561]",208315
17,name: pomegranate and blueberry oatmeal ; ingr...,"[6537, 3356, 2489, 7091, 6829, 1247, 5238]",42314
18,name: bollywood potato salad pink potato salad...,"[2660, 6543, 6334, 6122, 1558, 6945, 2700]",133356
19,name: easy cream walnut sauce for ravioli ; in...,"[529, 8839, 8877, 1007, 4343, 9063, 7484]",458952
20,name: tart cherry jam cooked ; ingredients: ch...,"[10, 3756, 516, 3823, 8199, 1231, 8129]",19941
21,"name: ginger spiced tea ; ingredients: water, ...","[545, 7971, 5441, 8336, 4706, 9803, 8937]",43515
22,name: creamed spinach ; ingredients: frozen sp...,"[9347, 6736, 17, 7068, 3367, 7805, 6100]",222103

In [ ]:
# def test(df1:pd.DataFrame, df2:pd.DataFrame):
#     for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
#         if r1["target_recipe"] != r1["target_recipe"]:
#             print()
#             print(r1)
#             print()
#             print(r2)
#             break