In [1]:
import pandas as pd
import numpy as np
from helpers import validate_datestet

In [2]:
# df1 = pd.read_csv("small_validation_pe_2_results_p.csv")
# df2 = pd.read_csv("small_validation_pe_input.csv")

df1 = pd.read_csv("small_validation_cbr_00_results.csv")
df2 = pd.read_csv("small_validation_cbr_00_input.csv")

# df1 = pd.read_csv("cbr_augmentation_2_results.csv")
# df2 = pd.read_csv("cbr_augmentation_2_input.csv")

# df1 = pd.read_csv("cbr_augmentation_3_results.csv")
# df2 = pd.read_csv("cbr_augmentation_3_input.csv")

# df1 = pd.read_csv("__________________test_results.csv")
# df2 = pd.read_csv("test_input.csv")

In [3]:
validate_datestet(df1, df2)

True

In [4]:
df1[-10:]

                                               response  target_recipe
2115  Cream butter and sugar. Dissolve soda in butte...          26522
2116  preheat the oven to 425 degrees f. Spray a 9 i...         493988
2117  Preheat oven to 400 degrees f (200 degrees c)....         382978
2118  Put 1 1/2 cups of coconut in a large bowl. In ...         440778
2119  Place the chicken breast halves in a bowl. Min...         346357
2120  Preheat the grill for high heat. In a medium b...         185482
2121  Combine orange juice, ginger and green onion i...          53628
2122  Bring water to a boil in a large pot. Add dark...         205888
2123  Mix all together with hands till you have a ba...          70725
2124  Preheat oven to 450 degrees. Toss potatoes in ...         261875

In [5]:
df2[-10:]

,input,pe_recipes,target_recipe
2115,"name: swedish thin bread ; ingredients: flour,...","[425409, 214901, 89065, 288684, 483225, 232706...",26522
2116,name: moist cornbread ; ingredients: white flo...,"[151669, 127497, 217763, 265601, 201152, 16036...",493988
2117,name: little cheesy meatloafs ; ingredients: e...,"[25539, 112702, 433368, 165688, 137994, 211792...",382978
2118,name: super easy dark chocolate fudge ; ingred...,"[150861, 82101, 189580, 107752, 106728, 264413...",440778
2119,name: italian baked chicken ; ingredients: but...,"[168506, 183448, 232468, 292693, 362134, 32351...",346357
2120,name: grilled ham with glaze ; ingredients: br...,"[26792, 311662, 351948, 289410, 254072, 52140,...",185482
2121,name: teriyaki style salmon ; ingredients: soy...,"[126655, 266385, 457436, 127335, 236089, 14947...",53628
2122,name: delicious homemade pancake syrup ; ingre...,"[193642, 202969, 147579, 315464, 357947, 19159...",205888
2123,"name: fast food biscuits ; ingredients: flour,...","[300585, 472969, 286003, 152945, 364276, 24661...",70725
2124,name: chive mashed potatoes ; ingredients: pot...,"[77747, 173396, 120892, 119003, 391034, 329361...",261875

In [6]:
df1

                                               response  target_recipe
0     Preheat oven to 350f. Line 13x9 pan with foil,...          10314
1     Cook sausage and mushrooms in skillet. Remove ...         104104
2      Preheat oven to 375 degrees f. Grease 12-inch...         100439
3     Bring a large pot of salted water to a boil. C...          45659
4     Cook the macaroni in boiling water. Drain. Mel...         337575
...                                                 ...            ...
2120  Preheat the grill for high heat. In a medium b...         185482
2121  Combine orange juice, ginger and green onion i...          53628
2122  Bring water to a boil in a large pot. Add dark...         205888
2123  Mix all together with hands till you have a ba...          70725
2124  Preheat oven to 450 degrees. Toss potatoes in ...         261875

[2125 rows x 2 columns]

In [7]:
df2

,input,pe_recipes,target_recipe
0,name: pineapple almond bars ; ingredients: flo...,"[64876, 54724, 363153, 366163, 412067, 63184, ...",10314
1,name: cornbread sausage stuffing ; ingredients...,"[14200, 286067, 44297, 15300, 341424, 218206, ...",104104
2,name: hot turkey and dressing sandwiches ; ing...,"[210171, 49517, 203419, 77851, 326255, 392232,...",100439
3,"name: szechuan noodles ; ingredients: noodles,...","[293425, 461016, 293820, 351683, 121134, 12512...",45659
4,name: macaroni and cheese like hoggys ; ingred...,"[454436, 158511, 58910, 254299, 272669, 261914...",337575
...,...,...,...
2120,name: grilled ham with glaze ; ingredients: br...,"[26792, 311662, 351948, 289410, 254072, 52140,...",185482
2121,name: teriyaki style salmon ; ingredients: soy...,"[126655, 266385, 457436, 127335, 236089, 14947...",53628
2122,name: delicious homemade pancake syrup ; ingre...,"[193642, 202969, 147579, 315464, 357947, 19159...",205888
2123,"name: fast food biscuits ; ingredients: flour,...","[300585, 472969, 286003, 152945, 364276, 24661...",70725
2124,name: chive mashed potatoes ; ingredients: pot...,"[77747, 173396, 120892, 119003, 391034, 329361...",261875

In [8]:
# def test(df1:pd.DataFrame, df2:pd.DataFrame):
#     for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
#         if r1["target_recipe"] != r1["target_recipe"]:
#             print()
#             print(r1)
#             print()
#             print(r2)
#             break