In [1]:
import pandas as pd
import numpy as np

In [2]:
# df1 = pd.read_csv("small_validation_pe_2_results_p.csv")
# df2 = pd.read_csv("small_validation_pe_input.csv")

# df1 = pd.read_csv("small_validation_cbr_00_results.csv")
# df2 = pd.read_csv("small_validation_cbr_00_input.csv")

df1 = pd.read_csv("cbr_augmentation_2_results.csv")
df2 = pd.read_csv("cbr_augmentation_2_input.csv")

# df1 = pd.read_csv("__________________test_results.csv")
# df2 = pd.read_csv("test_input.csv")

In [3]:
def validate_datestet(df1:pd.DataFrame, df2:pd.DataFrame):
    return np.all(df1.target_recipe.values == df2.target_recipe.values)

In [4]:
validate_datestet(df1, df2)

True

In [5]:
df1[-10:]

                                               response  target_recipe
5303  Cook rice as directed but do not add butter or...         486316
5304  Heat oven to 350 degrees F. In an ungreased 2-...         407751
5305  In a bowl, mix butter, sugar, eggs, cottage ch...         264911
5306  Combine apple juice and cornstarch in saucepan...         455195
5307  Cut cantaloupe in pieces and blend with sugar ...         485000
5308  Mix together cream cheese and granulated sugar...         432656
5309  Brush mushroom caps with cooking spray. In sma...         120055
5310  Combine sugar substitute, molasses, vanilla an...         145151
5311  Preheat oven to 450 degrees F. Season both sid...         151491
5312  In a large mixing bowl, combine all ingredient...         120478

In [6]:
df2[-10:]

,input,pe_recipes,target_recipe
5303,name: broccoli ramen noodle salad ; ingredient...,"[141176, 186556, 219434, 52168, 239792, 229742...",486316
5304,name: mom s lazy man cobbler ; ingredients: bu...,"[163634, 264413, 108209, 73927, 106728, 59588,...",407751
5305,name: easy and fast fruit n cream waffles ; in...,"[150402, 249, 53223, 215253, 512731, 53389, 44...",264911
5306,"name: raisin pie ; ingredients: eggs, vinegar,...","[35168, 291369, 286151, 390532, 201798, 394202...",455195
5307,name: pineapple cherry freeze ; ingredients: s...,"[122162, 228096, 374907, 484942, 369564, 96576...",485000
5308,name: chocolate cheesecake pie ; ingredients: ...,"[114482, 334617, 122162, 18842, 342955, 77842,...",432656
5309,"name: garlic bread ; ingredients: mayonnaise, ...","[61131, 42001, 61208, 22847, 42738, 358248, 43...",120055
5310,name: nutty gourmet popcorn snack ; ingredient...,"[116138, 327212, 53384, 203593, 395643, 135849...",145151
5311,"name: cod portuguese ; ingredients: olive oil,...","[238256, 463573, 430932, 423740, 166394, 23183...",151491
5312,name: apple spice cake ; ingredients: spice ca...,"[131655, 276767, 46081, 431114, 394202, 227825...",120478

In [7]:
df1

                                               response  target_recipe
0     In a large stockpot cook cabbage and potatoes ...         277643
1     Preheat oven to 375 degrees. Peel and core app...          54179
2     Place lobster tails in a shallow dish. Add eno...         168492
3     Combine sugar and water and bring to the boil....          95061
4     In a heavy saucepan over medium heat, stir tog...          44739
...                                                 ...            ...
5308  Mix together cream cheese and granulated sugar...         432656
5309  Brush mushroom caps with cooking spray. In sma...         120055
5310  Combine sugar substitute, molasses, vanilla an...         145151
5311  Preheat oven to 450 degrees F. Season both sid...         151491
5312  In a large mixing bowl, combine all ingredient...         120478

[5313 rows x 2 columns]

In [8]:
df2

,input,pe_recipes,target_recipe
0,name: low fat creamy potato soup ; ingredients...,"[240866, 165465, 423794, 16340, 375717, 41397,...",277643
1,name: nutty caramel corn ; ingredients: brown ...,"[223047, 423911, 199078, 144963, 62229, 469590...",54179
2,name: five vegetable slaw with blue cheese ; i...,"[181475, 32761, 23562, 151915, 181742, 27106, ...",168492
3,name: raspberry granita ; ingredients: fresh r...,"[411067, 361115, 24051, 433123, 146108, 164176...",95061
4,name: pecan liqueur pralines ; ingredients: su...,"[45815, 158794, 34820, 162322, 397809, 4787, 1...",44739
...,...,...,...
5308,name: chocolate cheesecake pie ; ingredients: ...,"[114482, 334617, 122162, 18842, 342955, 77842,...",432656
5309,"name: garlic bread ; ingredients: mayonnaise, ...","[61131, 42001, 61208, 22847, 42738, 358248, 43...",120055
5310,name: nutty gourmet popcorn snack ; ingredient...,"[116138, 327212, 53384, 203593, 395643, 135849...",145151
5311,"name: cod portuguese ; ingredients: olive oil,...","[238256, 463573, 430932, 423740, 166394, 23183...",151491
5312,name: apple spice cake ; ingredients: spice ca...,"[131655, 276767, 46081, 431114, 394202, 227825...",120478

In [9]:
# def test(df1:pd.DataFrame, df2:pd.DataFrame):
#     for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
#         if r1["target_recipe"] != r1["target_recipe"]:
#             print()
#             print(r1)
#             print()
#             print(r2)
#             break