In [1]:
import pandas as pd
import numpy as np

In [2]:
# df1 = pd.read_csv("small_validation_pe_2_results_p.csv")
# df2 = pd.read_csv("small_validation_pe_input.csv")

# df1 = pd.read_csv("small_validation_cbr_00_results.csv")
# df2 = pd.read_csv("small_validation_cbr_00_input.csv")

df1 = pd.read_csv("__________________test_results.csv")
df2 = pd.read_csv("test_input.csv")

In [3]:
def validate_datestet(df1:pd.DataFrame, df2:pd.DataFrame):
    return np.all(df1.target_recipe.values == df2.target_recipe.values)

In [4]:
validate_datestet(df1, df2)

True

In [5]:
df1[-10:]

                                             response  target_recipe
13  Mix together the orange juice, hoisin sauce an...         163922
14  Preheat the grill to medium-high heat. Thread ...         488707
15  In a food processor, combine blue cheese and b...         464929
16  Place loin on a rack over a baking pan. Rub wi...         208315
17  Preheat the oven to 450 degrees F. Roll out th...          42314
18  Line an 8x8x2 inch pan with foil, and spray wi...         133356
19  Preheat oven to 350 degrees F (175 degrees C)....         458952
20  Cut away the zest from the oranges and set asi...          19941
21  Preheat oven to 375 degrees F (190 degrees C)....          43515
22  Heat oven to 350 degrees. Grease 9x5 loaf pan ...         222103

In [7]:
df2[-10:]

,input,pe_recipes,target_recipe
13,name: stuffed jalapeno pita bites ; ingredient...,"[7884, 7872, 10203, 10524, 2387, 6105, 3497]",163922
14,name: chicken pot pie casserole ; ingredients:...,"[1511, 7618, 5771, 2026, 6831, 3845, 81]",488707
15,name: new orleans crab spread ; ingredients: r...,"[1486, 1179, 2453, 7733, 8102, 2349, 6804]",464929
16,name: tamarillo and date chutney new zealand ;...,"[8272, 923, 1679, 8360, 3997, 6828, 9561]",208315
17,name: pomegranate and blueberry oatmeal ; ingr...,"[6537, 3356, 2489, 7091, 6829, 1247, 5238]",42314
18,name: bollywood potato salad pink potato salad...,"[2660, 6543, 6334, 6122, 1558, 6945, 2700]",133356
19,name: easy cream walnut sauce for ravioli ; in...,"[529, 8839, 8877, 1007, 4343, 9063, 7484]",458952
20,name: tart cherry jam cooked ; ingredients: ch...,"[10, 3756, 516, 3823, 8199, 1231, 8129]",19941
21,"name: ginger spiced tea ; ingredients: water, ...","[545, 7971, 5441, 8336, 4706, 9803, 8937]",43515
22,name: creamed spinach ; ingredients: frozen sp...,"[9347, 6736, 17, 7068, 3367, 7805, 6100]",222103

In [8]:
df1

                                             response  target_recipe
0   Preheat oven to 375 degrees F (190 degrees C)....          10314
1   Preheat oven to 350 degrees F. In a large bowl...         104104
2   Mix bread cubes and turkey in large bowl. Add ...         100439
3   Cook spaghetti according to package directions...          45659
4   Cook macaroni as directed on box. Drain. Mix t...         337575
5   Preheat oven to 350 degrees F. Brown sausages ...         225262
6   Spread crunchy peanut butter on white bread. A...         178884
7   Heat oil in large skillet over medium heat. Di...         113329
8   Preheat oven to 400 degrees. Grease and flour ...         309308
9   Rub the rim of your glass with the lime slice ...         184751
10  Combine sugar and water in large saucepan. Bri...          55983
11  Scramble eggs as you would normally and add mi...         374963
12  In a blender combine strawberries, ginger ale ...          63640
13  Mix together the orange juice, hoisin sauce an...         163922
14  Preheat the grill to medium-high heat. Thread ...         488707
15  In a food processor, combine blue cheese and b...         464929
16  Place loin on a rack over a baking pan. Rub wi...         208315
17  Preheat the oven to 450 degrees F. Roll out th...          42314
18  Line an 8x8x2 inch pan with foil, and spray wi...         133356
19  Preheat oven to 350 degrees F (175 degrees C)....         458952
20  Cut away the zest from the oranges and set asi...          19941
21  Preheat oven to 375 degrees F (190 degrees C)....          43515
22  Heat oven to 350 degrees. Grease 9x5 loaf pan ...         222103

In [9]:
df2

,input,pe_recipes,target_recipe
0,name: spicy tomato steak ; ingredients: vinega...,"[251, 3702, 2879, 7610, 6136, 7936, 3115]",10314
1,name: bill knapp s honey ginger chicken marina...,"[2936, 1574, 5772, 6543, 284, 1337, 4524]",104104
2,name: becky s tater tot casserole ; ingredient...,"[2252, 8685, 1891, 5497, 5079, 10582, 9404]",100439
3,name: oven fried eggplant ; ingredients: eggpl...,"[2840, 4249, 7540, 5887, 6308, 9816, 1792]",45659
4,name: breakfast apple cobbler ; ingredients: t...,"[9862, 3744, 10339, 1344, 10384, 4412, 6665]",337575
5,name: sus peanut butter cookies ; ingredients:...,"[5094, 2619, 4015, 7226, 2188, 3842, 7298]",225262
6,name: artichoke toasts ; ingredients: artichok...,"[8441, 7402, 5514, 9689, 5116, 2145, 9481]",178884
7,name: north croatian cucumber stew cuspajz od ...,"[8019, 1289, 542, 1629, 2368, 9984, 6574]",113329
8,name: champagne jello shots ; ingredients: jel...,"[7004, 7511, 2974, 8736, 3851, 6917, 10227]",309308
9,name: herbed mustard ; ingredients: white must...,"[1343, 9506, 9494, 8419, 894, 4567, 3534]",184751
10,name: fresh herb rubbed salmon fillets ; ingre...,"[2236, 1905, 6729, 568, 4924, 10111, 7674]",55983
11,name: cheesy apple bacon breakfast casserole ;...,"[9832, 1114, 3264, 1262, 934, 1093, 2131]",374963
12,name: broccoli brain power salad ; ingredients...,"[3074, 7302, 1847, 1941, 1111, 4789, 3653]",63640
13,name: stuffed jalapeno pita bites ; ingredient...,"[7884, 7872, 10203, 10524, 2387, 6105, 3497]",163922
14,name: chicken pot pie casserole ; ingredients:...,"[1511, 7618, 5771, 2026, 6831, 3845, 81]",488707
15,name: new orleans crab spread ; ingredients: r...,"[1486, 1179, 2453, 7733, 8102, 2349, 6804]",464929
16,name: tamarillo and date chutney new zealand ;...,"[8272, 923, 1679, 8360, 3997, 6828, 9561]",208315
17,name: pomegranate and blueberry oatmeal ; ingr...,"[6537, 3356, 2489, 7091, 6829, 1247, 5238]",42314
18,name: bollywood potato salad pink potato salad...,"[2660, 6543, 6334, 6122, 1558, 6945, 2700]",133356
19,name: easy cream walnut sauce for ravioli ; in...,"[529, 8839, 8877, 1007, 4343, 9063, 7484]",458952
20,name: tart cherry jam cooked ; ingredients: ch...,"[10, 3756, 516, 3823, 8199, 1231, 8129]",19941
21,"name: ginger spiced tea ; ingredients: water, ...","[545, 7971, 5441, 8336, 4706, 9803, 8937]",43515
22,name: creamed spinach ; ingredients: frozen sp...,"[9347, 6736, 17, 7068, 3367, 7805, 6100]",222103

In [10]:
# def test(df1:pd.DataFrame, df2:pd.DataFrame):
#     for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
#         if r1["target_recipe"] != r1["target_recipe"]:
#             print()
#             print(r1)
#             print()
#             print(r2)
#             break