In [1]:
import pandas as pd
import numpy as np

In [2]:
# df1 = pd.read_csv("small_validation_pe_2_results.csv")
# df2 = pd.read_csv("small_validation_pe_input.csv")

df1 = pd.read_csv("small_validation_cbr_00_results.csv")
df2 = pd.read_csv("small_validation_cbr_00_input.csv")

In [3]:
def validate_datestet(df1:pd.DataFrame, df2:pd.DataFrame):
    for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
        if r1["target_recipe"] != r1["target_recipe"]:
            print()
            print(r1)
            print()
            print(r2)
            break

In [4]:
validate_datestet(df1, df2)

In [5]:
df1[-10:]

                                               response  target_recipe
2111  In a large bowl, combine the first four ingred...          91347
2112  Beat egg and add dough. Press into 9x13 pan an...         138120
2113  Preheat broiler. Spray flat bread with olive o...         417283
2114  In a large bowl mix parsley, garlic, shallot, ...         239859
2115  Combine the first six ingredients. Cut in the ...          26522
2116  Preheat oven to 400. In mixing bowl combine dr...         493988
2117  Pre-heat oven to 375f. Mix ground beef, stuffi...         382978
2118  In a saucepan over low heat, combine the conde...         440778
2119  Preheat oven to 350-degrees f (175-degrees c)....         346357
2120   In medium bowl, combine preserves and gingers...         185482

In [6]:
df2[-10:]

,input,pe_recipes,target_recipe
2115,name: jalapeo cheese and smoked paprika bread ...,"[244278, 512731, 342436, 154253, 133787, 37263...",26522
2116,name: cornmeal molasses pancakes ; ingredients...,"[129551, 217763, 160364, 13280, 250733, 151669...",493988
2117,name: little cheesy meatloafs ; ingredients: e...,"[25539, 326810, 39835, 30626, 466325, 364821, ...",382978
2118,name: super easy dark chocolate fudge ; ingred...,"[150861, 82101, 264413, 106728, 107752, 213649...",440778
2119,name: creamy italian chicken ; ingredients: bo...,"[105958, 22392, 34516, 89281, 264658, 183448, ...",346357
2120,name: grilled ham with glaze ; ingredients: br...,"[26792, 52140, 25067, 197630, 22761, 135590, 2...",185482
2121,name: beef teriyaki hors d oeuvre ; ingredient...,"[206266, 172760, 259668, 457942, 187931, 12665...",53628
2122,name: bourbon brown sugar sweet potatoes ; ing...,"[205312, 287108, 182563, 110360, 96576, 315464...",205888
2123,name: never fail biscuits ; ingredients: flour...,"[286003, 246614, 108752, 20552, 380091, 390997...",70725
2124,name: easy special supper potatoes ; ingredien...,"[391034, 464606, 10370, 124881, 13295, 59726, ...",261875