In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("small_validation_pe_2_results_p.csv")
df2 = pd.read_csv("small_validation_pe_input.csv")

# df1 = pd.read_csv("small_validation_cbr_00_results.csv")
# df2 = pd.read_csv("small_validation_cbr_00_input.csv")

# df1 = pd.read_csv("__________________test_results.csv")
# df2 = pd.read_csv("__________________test_input.csv")

In [3]:
def validate_datestet(df1:pd.DataFrame, df2:pd.DataFrame):
    return np.all(df1.target_recipe.values == df2.target_recipe.values)

In [4]:
validate_datestet(df1, df2)

True

In [5]:
df1[-10:]

,Unnamed: 0,response,target_recipe
2115,2115,"Mix flours, sugar, baking powder, salt and bak...",26522
2116,2116,Mix dry ingredients together well. Stir in sou...,493988
2117,2117,Preheat oven to 400f. Spray or grease a muffin...,382978
2118,2118,In a double boiler melt the butter and chocola...,440778
2119,2119,Heat olive oil in saucepan. Add garlic and chi...,346357
2120,2120,In a small saucepan bring preserves to a boil....,185482
2121,2121,"Preheat grill. In a small bowl, combine soy sa...",53628
2122,2122,"In a medium saucepan combine water, brown suga...",205888
2123,2123,Preheat the oven to 425 degrees F (220 degrees...,70725
2124,2124,Preheat oven to 400 degrees F. Wash potatoes a...,261875

In [6]:
df2[-10:]

,input,pe_recipes,target_recipe
2115,name: pucker up lemon cake ; ingredients: lemo...,"[3994, 1470, 8029, 5303, 2721, 5977, 8581]",26522
2116,"name: cream cheese pie ; ingredients: flour, s...","[8728, 4215, 348, 6649, 8127, 5434, 10480]",493988
2117,name: whole berry cranberry sauce with zing ; ...,"[7661, 7263, 1447, 2111, 4320, 7944, 10181]",382978
2118,name: multigrain exam cookies high energy heal...,"[3457, 2940, 3497, 7455, 7141, 5785, 8495]",440778
2119,name: nachos that will make you melt ; ingredi...,"[6436, 1722, 3561, 3802, 7632, 8714, 7171]",346357
2120,name: spinach and blue cheese pasta ; ingredie...,"[3323, 5671, 1461, 10172, 501, 9857, 3993]",185482
2121,name: strawberries jubilee fat free ; ingredie...,"[10458, 5239, 3861, 1608, 4199, 5733, 8717]",53628
2122,name: new mexico spanish rice ; ingredients: v...,"[1349, 268, 4338, 10202, 9620, 1221, 6060]",205888
2123,name: caramelized onion pizza ; ingredients: r...,"[9724, 7092, 9773, 4418, 1965, 563, 5757]",70725
2124,"name: pan fried trout ; ingredients: trout, co...","[6508, 9243, 1868, 1693, 10010, 3523, 2365]",261875

In [7]:
# def test(df1:pd.DataFrame, df2:pd.DataFrame):
#     for (_, r1), (_, r2) in zip(df1.iterrows(), df2.iterrows()):
#         if r1["target_recipe"] != r1["target_recipe"]:
#             print()
#             print(r1)
#             print()
#             print(r2)
#             break